*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "poppins",sans-serif;
    line-height: 1.6;
    color: black;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: bisque;
    z-index: 1000;
    padding: 1rem 0;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.3 ease;
}
nav ul li a:hover {
    color: aqua;
}

section {
    
}